
..nav-tabs-custom .nav-tabs li.active:hover a, .nav-tabs-custom .nav-tabs li.active a {
     background-color: #006747;
     border-color: transparent;
}

.nav-tabs-custom .nav-tabs li.active {
     border-top-color: #006747;
}